<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/frontend.css">
    <title>{TITLE}</title>
</head>
<body>
<div class="head">
    <a href="#slide-1">Česko</a><br>
    <a href="#slide-2">Rusko</a><br>
    <a href="#slide-3">Maďarsko</a><br>
    <a href="#slide-4">Rakousko</a><br>
    <a href="#slide-5">Španělsko</a><br>
    <a href="#slide-6">Německo</a><br>
    <a href="#slide-7">Švýcarsko</a><br>
    <a href="#slide-8">Chorvatsko</a><br>
    <a href="#slide-9">Norsko</a><br>
    <a href="#slide-10">Dánsko</a><br>
</div>

<div class="slider">

    <div class="slides">
        {STATY}
    </div>
  </div>
</body>
</html>